body {
  margin: 0;
  height: 100vh;
}

#app {
  height: 100%;
  display: grid;
  grid-template-columns: 15% 1fr;
  grid-template-rows: 10% auto 10%;
  grid-template-areas: 
    "header header"
    "sidenav content"
    "footer footer";
}

#header, #content, #sidenav, #footer {
  border: 1px solid rgb(66, 8, 8);
}

#header {
  grid-area: header;
}
#content {
  grid-area: content;
  display: flex;
  flex-wrap: wrap;
}
#footer {
  grid-area: footer;
}
#sidenav {
  grid-area: sidenav;
}

.block {
  width: 300px;
  height: 300px;
  border: 3px solid #8285aa;
  border-radius: 15px;
  padding: 20px;
  margin: 10px;
  background-color: rgb(255, 246, 223);
  
  
}
.blokead{
  width: 300px;
  height: 300px;
  border: 3px solid #8e95e6;
  border-radius: 15px;
  padding: 20px;
  margin: 10px
}